@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .alert {
    @apply text-sm text-center;
  }
  
  .alert-error {
    @apply text-red-700;
  }
  
  .alert-success {
    @apply text-green-700;
  }
  
  .alert-container {
    @apply my-4 w-8/12 py-1 mx-auto rounded-md;
  }
  
  .alert-container-error {
    @apply bg-red-100;
  }
  
  .alert-container-success {
    @apply bg-green-100;
  }

  .btn {
    @apply font-semibold text-sm py-2 px-3 rounded;
  }
  
  .btn:disabled {
    @apply bg-gray-300;
  }
  
  .btn-sm {
    @apply text-xs px-2 py-1 rounded;
  }
  
  .btn-sm:disabled {
    @apply bg-gray-300;
  }
  
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  
  .btn-blue:hover {
    @apply bg-blue-800;
  }
  
  .btn-red {
    @apply bg-red-500 text-white;
  }
  
  .btn-red:hover {
    @apply bg-red-800;
  }
  
  .btn-gray {
    @apply bg-gray-500 text-white;
  }
  
  .btn-gray:hover {
    @apply bg-gray-800;
  }

  .btn-light {
    @apply bg-gray-200 text-white;
  }

  .btn-image-upload {
    @apply bg-gray-400 text-white;
  }

  .btn-image-upload:hover {
    @apply bg-gray-600
  }

  .icon-sm {
    @apply w-4 h-4
  }

  .icon {
    @apply w-5 h-5
  }
  
  .hover-parent:hover .hover-child {
    @apply transition ease-in-out opacity-100 visible
  }

  .hover-child {
    @apply opacity-0
  }

  .input {
    @apply py-2 px-3;
  }

  .input-sm {
    @apply py-1 px-2 text-xs;
  }

  .input-lg {
    @apply text-xl py-2 px-3;
  }
  
  .input-base {
    @apply text-gray-700 appearance-none border rounded leading-tight;
  }

  .label {
    @apply text-sm
  }

  .label-sm {
    @apply text-xs;
  }

  .label-base {
    @apply text-gray-800;
  }
  
  .number-input-style-basic {
    @apply py-2 px-3 text-gray-700 appearance-none border rounded leading-tight text-sm;
  }

  .select-input-sm {
    @apply p-1 text-xs
  }

  .select-input-base {
    @apply bg-clip-padding bg-no-repeat border rounded transition ease-in-out;
  }

  .select-input-basic {
    @apply p-2 text-sm bg-clip-padding bg-no-repeat border rounded transition ease-in-out;
  }

  .form-style-basic {
    @apply rounded-md border border-gray-200 bg-gray-50;
  }

  .form-tight {
    @apply p-2 space-x-2
  }
  
  .main-header-text {
    @apply font-bold text-3xl;
  }

  .subheader {
    @apply text-lg font-semibold text-gray-800;
  }

  .success-symbol {
    @apply h-5 w-5 text-green-500;
  }

  .tab {
    @apply font-bold text-sm
  }
  
  .page-header-align {
    @apply text-center my-10;
  } 
}


